<div class="menu">
  <p class="menu-label">
    <%= @chatroom.name %>
  </p>
</div>

<div data-behavior="messages" data-chatroom-id="<%= @chatroom.id %>" class="box">
  <% @chatroom.ordered_messages.each do |message| %>
    <%= render message %>
  <% end%>
</div>

<%= form_with(model: [@chatroom, Message.new], local: true, id: "new_message") do |f| %>
  <div class="field">
    <p class="control  has-icons-right">
      <%= f.text_field :body, rows: 1, class: 'input is-medium', placeholder: 'Write a message...', id: 'chat_input' %>
      <span class="icon is-small is-right">
        <i class="fa fa-paper-plane-o"></i>
      </span>
    </p>
  </div>
<% end %>

