<h4 class="subtitle is-4">Sign In</h4>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="field">
    <p class="control has-icons-left has-icons-right">
      <%= f.email_field :email, class: 'input', placeholder: 'Email' %>
      <span class="icon is-small is-left">
        <i class="fa fa-envelope"></i>
      </span>
    </p>
  </div>

  <div class="field">
    <p class="control has-icons-left">
      <%= f.password_field :password, autocomplete: "off", class: 'input', placeholder: 'Password'%>
      <span class="icon is-small is-left">
        <i class="fa fa-lock"></i>
      </span>
    </p>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <p class="control">
        <label class="checkbox">
          <%= f.check_box :remember_me %>
          Remember me
        </label>
      </p>
    </div>
  <% end -%>

  <div class="field is-grouped">
    <p class="control">
      <%= f.submit "Sign In", class: 'button is-success' %>
    </p>
    <p class="control">
      <%= link_to "Sign Up", new_registration_path(resource_name), class: 'button is-white' %>
    </p>
  </div>
<% end %>
