<!DOCTYPE html>
<html>
  <head>
    <title>Pitolinos Chat <%= "| #{current_user.username if user_signed_in?}" %></title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag "favicon.png" %>
    <meta data-current-user="<%= current_user.id if user_signed_in? %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <%= render 'partials/navbar' %>
    <%= render 'partials/menu'  %>
    <%= render 'partials/new_chatroom' %>
  </body>
</html>
