<!DOCTYPE html>
<html>
  <head>
    <title>Pitolinos Chat <%= "| #{current_user.username if user_signed_in?}" %></title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag "favicon.png" %>
    <meta data-current-user="<%= current_user.id if user_signed_in? %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>

    <div class="primary">
      <div class="container margin-bot-15">
        <nav class="navbar is-primary">
          <div class="navbar-brand">
            <a href="<%= root_path %>" class="navbar-item">
                <h2 class="title is-3 has-text-white">Pitolinos</h2>
            </a>
            <span class="navbar-burger burger" data-target="navbarMenu">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
              <% if user_signed_in? %>
                <a class="navbar-item modal-button" data-target="modal">
                  <span class="icon">
                    <i class="fa fa-plus"></i>
                  </span>
                  <span class="bold">New Chatroom</span>
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link bold">
                    <%= current_user.username %>
                  </a>
                  <div class="navbar-dropdown">
                    <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'navbar-item bold' %>
                  </div>
                </div>
              <% else %>
                <%= link_to 'Sign Up', new_user_registration_path, class: 'navbar-item bold' %>
                <%= link_to 'Sign In', new_user_session_path, class: 'navbar-item bold' %>
              <% end %>
            </div>
          </div>
        </nav>
      </div>
    </div>
    
    <div class="container main">
      <div class="columns is-mobile">
        <% if user_signed_in? %>
          <div class="column is-3">
            <aside class="menu">
              <p class="menu-label">
                Chatrooms
              </p>
              <ul class="menu-list">
                <% current_user.chatrooms.order(name: :desc).each do |chatroom| %>
                  <li><%= link_to chatroom.name, chatroom, data: { behavior: "chatroom-link", chatroom_id: chatroom.id } %></li>
                <% end %>
              </ul>
              <p class="menu-label">
                Direct Messages
              </p>
              <ul class="menu-list">
                <% users.each do |user| %>
                  <li><a href=""><%= user.username %></a></li>
                <% end%>
              </ul>
            </aside>
          </div>
        <% end%>
        <div class="column">
          <%= yield %>
        </div>
      </div>
    </div>

    <%# Create chatroom modal %>
    <div id="modal" class="modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Create Chatroom</p>
          <button class="delete"></button>
        </header>
        <%= form_with(model: new_chatroom) do |form| %>
          <section class="modal-card-body">
            <div class="field">
              <%= form.label :name, class: 'label' %>
              <div class="control">
                <%= form.text_field :name, id: :chatroom_name, class: 'input', placeholder: 'Chatroom name' %>
              </div>
            </div>
          </section>
          <footer class="modal-card-foot">
            <%= button_tag class: 'button is-primary' do %>
              <span class="icon">
                <i class="fa fa-floppy-o"></i>
              </span>
              <span>Create</span>
            <% end%>
          </footer>
        <% end %>
      </div>
    </div>

  </body>
</html>
